#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.person {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.person p {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 60px;
}
